<!-- REVOLUTION SLIDER -->
    <section id="slider" class="slider fullwidthbanner-container roundedcorners">
        <!--
            Navigation Styles:
            
                data-navigationStyle="" theme default navigation
                
                data-navigationStyle="preview1"
                data-navigationStyle="preview2"
                data-navigationStyle="preview3"
                data-navigationStyle="preview4"
                
            Bottom Shadows
                data-shadow="1"
                data-shadow="2"
                data-shadow="3"
                
            Slider Height (do not use on fullscreen mode)
                data-height="300"
                data-height="350"
                data-height="400"
                data-height="450"
                data-height="500"
                data-height="550"
                data-height="600"
                data-height="650"
                data-height="700"
                data-height="750"
                data-height="800"
        -->
        <div class="fullscreenbanner" data-navigationStyle="preview1">
            <ul class="hide">

                <!-- SLIDE  -->
                <li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide title 1" data-thumb="assets/images/residential_page1.jpg">

                    <%= image_tag("residential_page1.jpg", :alt => "home elevator") %>
                    
                    
                    <div class="tp-caption customin ltl tp-resizeme large_bold_white"
                        data-x="center"
                        data-y="255"
                        data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                        data-speed="800"
                        data-start="1200"
                        data-easing="easeOutQuad"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="1000"
                        data-endeasing="Power4.easeIn" style="z-index: 10;">
                        Add some Luxury and Style to your home
                    </div>

                    <div class="tp-caption customin ltl tp-resizeme small_light_white font-lato fs-20"
                        data-x="center"
                        data-y="345"
                        data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                        data-speed="800"
                        data-start="1400"
                        data-easing="easeOutQuad"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="1000"
                        data-endeasing="Power4.easeIn" style="z-index: 10; width: 100%; max-width: 750px; white-space: normal; text-align:center;">
                        <span class="smallNoDisplay">We love to create the most unique design and give your house a stunning disctinction. <br>
                        Get in touch with us to start creating your  own design.</span>
                    </div>

                    <div class="tp-caption customin ltl tp-resizeme"
                        data-x="center"
                        data-y="433"
                        data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                        data-speed="800"
                        data-start="1550"
                        data-easing="easeOutQuad"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="1000"
                        data-endeasing="Power4.easeIn" style="z-index: 10;">
                        <a class="btn btn-blue btn-lg" href="index-RocketElevators.html#contact">CONTACT US &nbsp; <i class="fa fa-angle-right"></i>
                        </a>
                    </div>

                </li>

                <!-- SLIDE  -->
                <li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide title 2" data-thumb="assets/images/residential_page2.jpg">

                    <img src="assets/images/1x1.png" data-lazyload="assets/images/residential_page2.jpg" alt="old people with home elevator" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="110" />

                    <div class="tp-caption very_large_text lfb ltt tp-resizeme"
                        data-x="right" data-hoffset="-100"
                        data-y="center" data-voffset="-100"
                        data-speed="600"
                        data-start="800"
                        data-easing="Power4.easeOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="500"
                        data-endeasing="Power4.easeIn">
                        <span class="smallBiggerFont">Changing floor made easy</span>
                    </div>

                    <div class="tp-caption medium_light_white lfb ltt tp-resizeme"
                        data-x="right" data-hoffset="-110"
                        data-y="center" data-voffset="10"
                        data-speed="600"
                        data-start="900"
                        data-easing="Power4.easeOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="500"
                        data-endeasing="Power4.easeIn">
                        <span class="smallNoDisplay">Life is short.<br/>
                        Get all the comfort you need while respecting your budget<br/></span>
                    </div>
                    
                    <div class="tp-caption customin ltl tp-resizeme"
                        data-x="center"
                        data-y="433"
                        data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                        data-speed="800"
                        data-start="1550"
                        data-easing="easeOutQuad"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="1000"
                        data-endeasing="Power4.easeIn" style="z-index: 10;">
                        <a class="btn btn-default btn-lg" href="index-Quote.html">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i>
                        </a>
                    </div>

                </li>

                <!-- SLIDE -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide title 3" data-thumb="assets/images/residential_page3.jpg">

                    <img src="assets/images/1x1.png" data-lazyload="assets/images/residential_page3.jpg" alt="elevator maintenance" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="110" >

                    <div class="tp-caption tp-fade fadeout fullscreenvideo"
                        data-x="0"
                        data-y="100"
                        data-speed="1000"
                        data-start="1100"
                        data-easing="Power4.easeOut"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="1500"
                        data-endeasing="Power4.easeIn"
                        data-autoplay="true"
                        data-autoplayonlyfirsttime="false"
                        data-nextslideatend="true"
                        data-volume="mute" 
                        data-forceCover="1" 
                        data-aspectratio="16:9" 
                        data-forcerewind="on" style="z-index: 2;">

                        
                        
                    </div>

                    <div class="tp-caption customin ltl tp-resizeme large_bold_white"
                        data-x="center"
                        data-y="255"
                        data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                        data-speed="800"
                        data-start="1200"
                        data-easing="easeOutQuad"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="1000"
                        data-endeasing="Power4.easeIn" style="z-index: 3;">
                        <span class="smallBiggerFont">Reachable 24/7</span>
                    </div>

                    <div class="tp-caption customin ltl tp-resizeme small_light_white font-lato fs-20"
                        data-x="center"
                        data-y="345"
                        data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                        data-speed="800"
                        data-start="1400"
                        data-easing="easeOutQuad"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="1000"
                        data-endeasing="Power4.easeIn" style="z-index: 3; width: 100%; max-width: 750px; white-space: normal; text-align:center;">
                        <span class="smallNoDisplay">When you buy at Rocket Elevator, you also buy the peace of mind. We make a commitment to offer the best customer service there is.</span>
                    </div>

                    <div class="tp-caption customin ltl tp-resizeme"
                        data-x="center"
                        data-y="413"
                        data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                            data-speed="800"
                        data-start="1550"
                        data-easing="easeOutQuad"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="1000"
                        data-endeasing="Power4.easeIn" style="z-index: 3;">
                        <a class="btn btn-default btn-lg" style="margin-right: 50px" href="index-Quote.html">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i>
                        </a>
                        <a class="btn btn-blue btn-lg" href="index-RocketElevators.html#contact">CONTACT US &nbsp; <i class="fa fa-angle-right"></i>
                        </a>
                    </div>

                </li>

            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </section>
    <!-- /REVOLUTION SLIDER -->

