<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8" />
	<title>Rocket Elevators - Quote</title>

	<!-- mobile settings -->
	<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

	<!-- WEB FONTS : use %7C instead of | (pipe) -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700"
	 rel="stylesheet" type="text/css" />

	
  <!-- THEME CSS -->
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>

</head>


<body class="smoothscroll enable-animation">

		<!-- wrapper -->
		<div id="wrapper">

			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						<a class="logo float-left" href="index-RocketElevators.html">
              <%= image_tag("logo_Rocket.png", :alt => "logo") %>   
						</a>

						
						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
							<nav class="nav-main">

								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li><!-- HOME -->
										<a href="index-RocketElevators.html">
											HOME
										</a>
									</li>
									<li class="dropdown"><!-- SERVICES-->
										<a class="dropdown-toggle" href="index-RocketElevators.html#services">
											SERVICES
										</a>
										<ul class="dropdown-menu">
											<li><a href="index-rocketElevators-residential.html">RESIDENTIAL</a></li>
											<li><a href="index-rocketElevators-commercial.html">COMMERCIAL</a></li>
										</ul>
									</li>
									<li><!-- PORTFOLIO -->
										<a href="index-RocketElevators.html#work">
											PORTFOLIO
										</a>
									</li>
									<li><!-- NEWS -->
										<a href="index-RocketElevators.html#news">
											NEWS
										</a>
									</li>
									<li><!-- CLIENTS -->
										<a href="index-RocketElevators.html#clients">
											CLIENTS
										</a>
									</li>
									<li><!-- CONTACT -->
										<a href="index-RocketElevators.html#contact">
											CONTACT
										</a>
                                    </li>
                                    <li>
                                        <!-- ADMIN -->
                                        <a href="index-admin.html">
                                            ADMIN
                                        </a>
                                    </li>
								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>
        </div>


	<!-- wrapper -->
	<div id="wrapper">


		<div id="header" class="navbar-toggleable-md clearfix sticky">

			<!-- TOP NAV -->
			<header id="topNav">
				<div class="container">

					<!-- Mobile Menu Button -->
					<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
						<i class="fa fa-bars"></i>
					</button>
                </div>
            </header>
        </div>
    </div>
                    
					

		<!-- PORTFOLIO -->
		<section id="work" style="padding-top: 50px" >
			<div class="container">
    
      

    <%= yield %>

      



			</div>
		</section>
			<!-- / -->
		<!-- FOOTER -->
			<footer id="footer">
				<div class="container">


					<div class="row">

						<!-- col #1 -->
						<div class="col-md-8">

							<h3 class="letter-spacing-1">WHY US?</h3>

							<!-- Small Description -->
							<p>
								We have the conviction that we create the most innovative and reliable products on the market. Contact us today for any questions you might have.
							</p>
							<h2>(418) 580-7055</h2>
						</div>
						<!-- /col #1 -->

						<!-- col #2 -->
						<div class="col-md-4">
							<h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

							<!-- Newsletter Form -->
							<p>Subscribe to Our Newsletter to get Important News & Offers</p>

							<form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
									<input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
									<span class="input-group-btn">
										<button class="btn btn-success" type="submit">Subscribe</button>
									</span>
								</div>
							</form>
						</div>
					</div>
				</div>

				<div class="copyright">
					<div class="container">
						<ul class="float-right m-0 list-inline mobile-block">
							<li><a href="#">Terms &amp; Conditions</a></li>
							<li>&bull;</li>
							<li><a href="#">Privacy</a></li>
						</ul>
						&copy; All Rights Reserved, Rocket Elevators LTD
					</div>
				</div>
                
            </footer>
		<!-- /wrapper -->


	<!-- SCROLL TO TOP -->
	<a href="#" id="toTop"></a>


</html>
